@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "Garet Book";
  src: url("/assets/fonts/garet/Garet-Book.ttf");
}

@font-face {
  font-family: "Garet Heavy";
  src: url("/assets/fonts/garet/Garet-Heavy.ttf");
}
