@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.kn-hero-container {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../assets/landing-spaces.png"); */
  background-image: url("../assets/landing-spaces.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
