@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.kn-header-and-hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/assets/astronauts.png");
  /* background-image: url("/assets/background.png"); */
  background-size: cover;
  background-repeat: no-repeat;

  height: 100vh;
}

.kn-footer-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/assets/spaces.png");
  background-size: cover;
  background-repeat: no-repeat;
}
